/*font style*/
/*Font Name ---Lexend Deca---*/
/*font-family: 'Lexend Deca', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*color palette

#EAF1F8- LIGHGREY
#0853C4- BLUE
#F55166- ORANGE
#FCBC19- YELLOW

*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
.mother{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}
.menu{
	width: 75px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 15px;
	left:0;
	z-index: 2;
/*	background: red;*/
	cursor: pointer;
}
.menu ion-icon{
	font-size: 30px;
}

.main-container{
	width: 100%;
	height: 100vh;
/*	background: lightgray;*/
	background: url("../images/back1.png");
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
/*	overflow: hidden;*/
	position: fixed;
/*	max-width: 1500px;*/
	max-height: 1000px;
}
.sidebar{
	width: 30%;
	max-width: 260px;
	height: 100vh;
	max-height: 1000px;
	display: flex;
	align-items: center ;
	flex-direction: column;
	justify-content: space-between;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-right: 1px solid rgba(255, 255, 255, 0.9);
	transition: 0.3s;
	opacity: 1;

}
.sidebr-close{
	left:-100%;
	position: fixed;
	opacity: 0;
}

/*side bar icon*/
.sideicon{
	width: 80px;
	height: 100%;
/*	background: pink;*/
	display: flex;
	flex-direction: column;
	padding-top: 105px;
	justify-content: space-between;
/*	left: -100%;*/
	display: none;
	opacity: 0;
	transition: 0.3;
}
.sideicon-show{
	display: flex;
	opacity: 1;
}
.icons-list{
	width: 80px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icons-list .active{
	background: #0853c424;
	color: #0853C4;
}
.icons-list li{
	width: 50px;
	height: 50px;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .2s;
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.7);

}
.icons-list li:hover{
	background: #0853c424;
	color: #0853C4;
	transition: .2s;
	cursor: pointer;
}
.icons-list ion-icon{
	font-size: 20px;
}
.logout li{
	width: 50px;
	height: 50px;
	transition: .2s;
	border-radius: 5px;
	font-size: 20px;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logout li:hover{
	background: #0853c424;
	cursor: pointer;
	
	color: #0853C4;
	transition: .2s;

}

.sidebar label{
	width: 100%;
/*	background: pink;*/
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	padding: 30px 0;
}
.sidebar .me{
	color: #0853C4;
}

.sidebar ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.sidebar li{
	width: 100%;
	height: auto;
	list-style: none;
	padding: 15px 20px;
	color: black;
	border-radius: 3px;
	cursor: pointer;
	margin: 1px 0;
	color: #000000b0;
	font-size: 14px;
	font-weight: bolder;
	align-items: center;
	display: flex;
}
.sidebar ion-icon{
	padding-right: 10px;
	font-size: 20px;
}
.sidebar li:hover{
	background: #0853c424;
	color: #0853C4;
	transition: .2s;
}
.sidebar .active{
	border-left: 3px solid #0853C4;
	background: #0853c424;
	color: #0853C4;
	font-weight: bolder;
}

/*student profile picture*/
.student-img{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;

}
.studentprof{
	display: flex;
	flex-direction: revert;
}
.name{
	display: flex;
	flex-direction: column;
	padding:0  15px;
/*	background: pink;*/
	align-items: center;
	justify-content: center;
	cursor: pointer;

}
.name span{
	font-size: 12px;
	text-align: left;
	width: 100%;
	color: #000000b0;
}
.name .name-active{
	font-weight: bolder;
	color: #0853C4;
	font-size: 13px;
}

.student{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
	background: #0853c466;
	margin: 20px 0;
	transition: 0.3s;
}
.student img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
}
.student:hover{
	background: #0853C4;
	opacity: .8;

}
.logout{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logout button{
	padding: 10px 45px;
	border-radius: 5px;
	border: none;
	color: #000000b0;
	font-weight: bolder;
	background: #fff;
	box-shadow: 0 0 10px -2px #0853c424;
	transition: 0.1s;
	display: flex;
	align-items: center;

}
.logout button:hover{
	background: #0853c424;
	color: #0853C4;
/*	color: #fff;*/
	border: 2px solid #fff;
}


/*Dashboard*/
.dashboard{
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
/*	display: none;*/
}


/*hiding dashboard*/
.hide-dashboard{
	display: none;
}

.dashboard label{
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.dashboard-content{
	width: 100%;
	height: 100%;
	display: flex;
/*	background: pink;*/
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
/*	flex-wrap: wrap;*/
	padding-right: 10px;
}
/* width*/
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0853C4; 
  border-radius: 50px;
  opacity: .7;
}

/*left dashboard content*/
.sum-lesson{
	width: 600px;
	height: auto;
	padding-right: 10px;
	border-right: 1px solid #fff;

}
.sum-subject{
	display: flex;
	flex-wrap: wrap;
	flex-direction: flex-start;
}
.sum-subject .subject:hover{
	cursor: pointer;
}
.sum-subject .subject-banner{
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}




/*Dashboard right content*/
.right-content{
	width: auto;
	padding: 10px;
	height: auto;
	background: red;
}





/*incoming lession*/
.incoming-lesson-container{
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	display: none;
}
.incoming-lesson-container label{
	font-size: 25px;
	font-weight: bolder;
}
.incoming-lessons{
	width: 100%;
	height: 100%;
/*	background: red;*/
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	padding-right: 10px;

}

.incoming-lessons label{
	font-size: 13px;
}

.show-incoming-lesson{
	display: flex;
}

.lesson-header{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.lesson-header label{
	font-size: 20px;
}
.btn{
	width: auto;
	height: auto;
	display: flex;
}
.btn button{
	margin: 0 10px;
	padding: 10px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	background: #0853c424;
	color: #0853C4;
	font-weight: bolder;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.btn ion-icon{
	font-size: 16px;
	cursor: pointer;
}
.btn

.schedule{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.schedule span{
	font-size: 11px;
	padding-bottom: 5px;
}
.sched-time-cont{
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
}
.calendar-icon{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0853c424;
	color: #0853C4;
}
.calendar-icon ion-icon{
	font-size: 12px;

}
.time-teacher{
	display: flex;
	flex-direction: column;
/*	background: pink;*/
	width: auto;
	height: 30px;
	margin: 0 7px;
}
.time-teacher span{
	padding-bottom: 0;
	padding-top: 0;
}
.time{
	font-weight: bolder;
}
.teacher{
	color: rgba(0, 0, 0, 0.7);
}
.lesson-cont{
	width: auto;
	height: auto;
	font-size: 14px;
	font-weight: bolder;
	display: flex;
	align-items: center;

}
.lesson-cont span{
	width: 5px;
	height: 5px;
	background: #0853C4;
	margin-right: 10px;
	border-radius: 50px;
}

.class-method{
	display: flex;
	width: auto;
	height: auto;
	align-items: center;
}
.class-method small{
	font-size: 10px;
	color: rgba(0, 0, 0, 1.6);
	margin-right: 20px;
}
.class-method a{
	font-size: 12px;
	font-weight: bolder;
	text-decoration: none;
	margin-right: 20px;
	color: #0853C4;

}

.zoom-link{
	width: 100%;
	height: 55px;
	background: #fff;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 4px 0;
	padding: 0 10px;
}
.zoom-link:hover{
	box-shadow: 0 0 10px -7px #0853C4;
}






/*groupes container*/
.Groups-container{
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	display: none;
	padding: 30px; 
	flex-direction: column;
}
.Groups-container label{

	font-size: 20px;
	font-weight: bolder;
}

.show-Groups-container{
	display: flex;
}
.searchpeople{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: right;
	margin-bottom: 20px;
}
.searchpeople input{
	width: 400px;
	height: 50px;
	padding-left: 15px;
	background: transparent;
	border: none;
	outline: none;
	outline-color: none;
	
}
.search{
	height: auto;
	width: auto;
	border-radius: 5px;
	border: 1px solid #0853C4;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.5);
}

.searchpeople ion-icon{
	padding: 14px;
	font-size: 20px;
	color: #0853C4;
}
.people-container{
	width: 100%;
	height: auto;
/*	background: pink;*/
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 10px;
}
.peoplecont{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-weight: normal !important;
	margin-top: 5px;
	padding: 6px 10px;
	padding-right: 20px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #fff;
}
.peoplecont:hover{
	box-shadow: 0 0 6px -3px #0853C4;

}
.peoplecont label{
	font-weight: normal !important;
}
.profile-img-name{
	display: flex;
	align-items: center;
}
.profile-img-name label{
	font-size: 15px;
	margin-left: 20px;
}
.img-profile{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
/*	background: url('./images/profile-icon.png');*/
/*	background-size: cover;*/
/*	background-position: center;*/
}
.img-profile img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.student-section label{
	font-size: 13px;
}
.student-role label{
	font-size: 13px;
	
}
.people-header{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 50px;
}
.people-header label{
	font-size: 14px;
}





/*Subject container*/
.Subject-container{
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	display: none;
}

.show-Subject-container{
	display: flex;
}
.Subject-container label{
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 10px;
}

.Subject-List{
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 10px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

}
.subject{
	width: 280px;
	height: 250px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid lightgray;
	transition: 0.3s;
	margin: 5px;
}
.subject:hover{
	box-shadow: 2px 2px 10px -3px lightgray;
}
.subject-banner{
	width: 100%;
	height: 90px;
	background: lightgrey;
	position: relative;
}
.subject-banner img{
	height: 100%;
	object-fit: cover;
}
.subject-cont{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.school-subject{
	display: flex;
	flex-direction: column;
	color: #fff;
	width: auto;
}
.school-subject label{
	font-size: 18px;
}
.school-subject small{
	font-size: 11px;
}
.tools{
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tools ion-icon{
	color: #fff;
	font-size: 20px;
}
.tools:hover{
	background: rgba(0, 0, 0, 0.1);

}
.subject-title{
	width: 100%;
	height: 100px;
	position: relative;
	padding: 10px;
}
.title{
	font-size: 13px;
	display: flex;
	flex-direction: column;
}
.title span{
	font-size: 12px;
	font-weight: 200;
	padding: 2px 0;
}


.techer-icon{
	width: 55px;
	height: 55px;
	background: lightgray;
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: -25px;
}
.techer-icon img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.subject-bottom{
	width: 100%;
	height: 55px;
	background: #fff;
	border-top: 1px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 0 20px;
}
.subject-bottom ion-icon{
	text-align: right;
	font-size: 23px;
	color: rgba(0, 0, 0, 0.7);
}






/*Grae Container*/
.Grades-container{
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	padding: 30px;
}
.Grades-container label{
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.grades-content{
	width: 100%;
	height: 100%;
/*	background: red;*/
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;

}

.show-Grades-container{
	display: flex;
}
.grades-content table{
	width: 100%;
/*	height: 100%;*/
	border: 2px solid #fff;
	background: #0853c424;

}
.grades-content tr{
	border: 1px solid #fff;
}
.grades-content th{
	text-align: center;
/*	border: 1px solid #fff;*/
	padding: 15px 0;
	font-size: 14px;
/*	border-collapse: collapse;*/
	background: #fff;
	color: #000;
/*	font-weight: normal;*/
}
.grades-content td{
	border: 1px solid #fff;
	padding: 15px 10px;
	font-size: 13px;
	transition: 0s;
}
.grades-content td:hover{
	background: #fff;
	color: #000;
	transition: 0.3s;
}




/*Inobx COtainer*/
.Inbox-container{
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	padding: 30px;
}

.show-Inbox-container{
	display: flex;
}
.Inbox-container label{
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.inbox-content{
	width: 100%;
	height: 100%;
	background: red;
	max-height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
@media only screen and (max-width:590px){

}

@media only screen and (max-width:846px){
	.student-section{
		display: none;
	}
	.people-header .course{
		display: none;
	}
}

@media only screen and (max-width:1209px){
	
		.sidebar{
			display: none;
		}
		.sideicon{
			display: flex;
			opacity: 1;
		}

}

