/*font style*/
/*Font Name ---Lexend Deca---*/
/*font-family: 'Lexend Deca', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*color palette

#EAF1F8- LIGHGREY
#0853C4- BLUE
#F55166- ORANGE
#FCBC19- YELLOW

*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
.main-container{
	width: 100%;
	height: 100vh;
/*	background: lightgray;*/
	background: url("../images/back1.png");
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
/*	overflow: hidden;*/
	position: fixed;
}
.sidebar{
	width: 30%;
	max-width: 260px;
	height: 100vh;
	display: flex;
	align-items: center ;
	flex-direction: column;
	justify-content: space-between;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-right: 1px solid rgba(255, 255, 255, 0.9);
/*	border-top-right-radius: 10px;*/
/*	border-bottom-right-radius: 10px;*/
/*	position: fixed;*/

}

.sidebar label{
	width: 100%;
/*	background: pink;*/
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	padding: 30px 0;
}
.sidebar .me{
	color: #0853C4;
}

.sidebar ul{
	width: 100%;
/*	height: auto;*/
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
/*background: pink;*/
}
.sidebar li{
	width: 100%;
	height: auto;
	list-style: none;
	padding: 15px 20px;
	color: black;
	border-radius: 3px;
	cursor: pointer;
/*	transition: 0.2s;*/
/*	margin: 1px 0;*/
	color: #000000b0;
	font-size: 14px;
	font-weight: bolder;
	align-items: center;
	display: flex;
}
.sidebar ion-icon{
	padding-right: 10px;
	font-size: 20px;
}
.sidebar li:hover{
	background: #0853c424;
	color: #0853C4;
	transition: .2s;
}
.sidebar .active{
	border-left: 3px solid #0853C4;
	background: #0853c424;
	color: #0853C4;
	font-weight: bolder;
}

/*student profile picture*/
.student-img{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;

}
.studentprof{
	display: flex;
	flex-direction: revert;
}
.name{
	display: flex;
	flex-direction: column;
	padding:0  15px;
/*	background: pink;*/
	align-items: center;
	justify-content: center;
	cursor: pointer;

}
.name span{
	font-size: 12px;
	text-align: left;
	width: 100%;
	color: #000000b0;
}
.name .name-active{
	font-weight: bolder;
	color: #0853C4;
	font-size: 13px;
}

.student{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
	background: #0853c466;
	margin: 20px 0;
	transition: 0.3s;
}
.student img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
}
.student:hover{
	background: #0853C4;
	opacity: .8;

}
.logout{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logout button{
	padding: 10px 45px;
	border-radius: 5px;
	border: none;
	color: #000000b0;
	font-weight: bolder;
	background: #fff;
	box-shadow: 0 0 10px -2px #0853c424;
	transition: 0.1s;
	display: flex;
	align-items: center;

}
.logout button:hover{
	background: #0853c424;
	color: #0853C4;
/*	color: #fff;*/
	border: 2px solid #fff;
}


/*Dashboard*/
.dashboard{
	width: 100%;
	height: 100vh;
	background: rgba(255, 255, 255, 0.4);
	padding-top: 30px;
	padding-left: 30px;
/*	border-top-left-radius: 10px;*/
/*	border-bottom-left-radius: 10px;*/
/*	position: absolute;*/
/*	display: none;*/
}


/*hiding dashboard*/
.hide-dashboard{
	display: none;
}

.dashboard label{
	font-size: 25px;
	font-weight: bolder;
}
.dashboard-content{
	width: 100%;
	height: 100%;
/*	max-width: 100%;*/
	overflow-y: scroll;
/*	background: lightgray;*/
/*	position: absolute;*/
	display: flex;
}
/* width*/
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0853C4; 
  border-radius: 50px;
  opacity: .7;
}

/*left dashboard content*/
.first-cont{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;
}
.second-cont{
	width: 50%;
	height: 100%;
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
}

/*Incoming Lessons*/
.incoming-lesson{
	width: 100%;
	height: 100%;padding-bottom: 5px;
}
.lesson-header{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.lesson-header label{
	font-size: 13px;
}
.btn{
	width: auto;
	height: auto;
	display: flex;
}
.btn button{
	margin: 0 10px;
	padding: 10px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	background: #0853c424;
	color: #0853C4;
	font-weight: bolder;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.btn ion-icon{
	font-size: 16px;
	cursor: pointer;
}

.schedule{
	width: 100%;
	height: auto;
/*	background: red;*/
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.schedule span{
	font-size: 11px;
	padding-bottom: 5px;
}
.sched-time-cont{
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
}
.calendar-icon{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0853c424;
	color: #0853C4;
}
.calendar-icon ion-icon{
	font-size: 12px;

}
.time-teacher{
	display: flex;
	flex-direction: column;
/*	background: pink;*/
	width: auto;
	height: 30px;
	margin: 0 7px;
}
.time-teacher span{
	padding-bottom: 0;
	padding-top: 0;
}
.time{
	font-weight: bolder;
}
.teacher{
	color: rgba(0, 0, 0, 0.7);
}
.lesson-cont{
	width: auto;
	height: auto;
	font-size: 14px;
	font-weight: bolder;
	display: flex;
	align-items: center;

}
.lesson-cont span{
	width: 5px;
	height: 5px;
	background: #0853C4;
	margin-right: 10px;
	border-radius: 50px;
}

.class-method{
	display: flex;
	width: auto;
	height: auto;
	align-items: center;
}
.class-method small{
	font-size: 10px;
	color: rgba(0, 0, 0, 1.6);
	margin-right: 20px;
}
.class-method a{
	font-size: 12px;
	font-weight: bolder;
	text-decoration: none;
	margin-right: 20px;
	color: #0853C4;

}

.zoom-link{
	width: 100%;
	height: 55px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 3px 0;
	padding: 0 10px;
}
.zoom-link:hover{
	box-shadow: 0 0 10px -7px #0853C4;
}





.materials{
	width: 100%;
	height: 100%;
/*	background: lightgray;*/
	position: relative;
	overflow: hidden;
}
.materials-header label{
	font-size: 13px;
}
.materials-content{
	width: 100%;
	height: 220px;
/*	height: auto;*/
	max-height: auto;
	overflow-y: scroll;
	padding: 5px 0;
/*	background: pink;*/
	position: absolute;
}
.subs-cont{
	width: 100%;
	height: 150px;
/*	background: lightgray;*/
	display: flex;
	align-items: center;
	justify-content: space-evenly;
/*	border-radius: 10px;*/
}
.subs{
	width: 230px;
	height: 130px;
	background: #fff;
	border-radius: 10px;
}
.sub1{
	background: #0853C4;
}
.sub2{
	background: #F55166;
}
.sub3{
	background: #F55166;
}
.sub4{
	background: #FCBC19;
}


/*#container{
	width: 100%;
	height: 100%;
	background: pink;*/
/*	position: absolute;*/
/*	z-index: 1;*/
/*	top: 0;*/
/*	left: 0;*/
/*}*/
.incoming-lesson-container{
	background: rgba(255, 255, 255, 0.4);
	width: 80%;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	display: none;
}
.incoming-lesson-container label{
	font-size: 25px;
	font-weight: bolder;
}
.incoming-lessons{
	width: 100%;
	height: 500px;
	max-height: 500px;
	overflow-y: scroll;
	padding-right: 10px;
}
.incoming-lessons label{
	font-size: 13px;
}

.show-incoming-lesson{
	display: flex;
}


.Groups-container{
	background: rgba(255, 255, 255, 0.4);
	width: 80%;
	height: 100%;
/*	position: absolute;*/
/*	right: 0;*/
	display: none;
}


.show-Groups-container{
	display: flex;
}

.Subject-container{
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	display: none;
}
.Subject-container label{
	font-size: 25px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.Subject-container ion-icon{
	color: rgba(255, 255, 255, 0.6);
	font-size: 25px;
	margin: 10px;
}

.show-Subject-container{
	display: flex;
}
.Subject-container .subs-cont{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: left;
}
.Subject-container .subs{
	margin: 4px;
	opacity: .9;
	transition: 0.2s;
}
.Subject-container .subs:hover{
	opacity: 1;
	box-shadow: 0 0 10px 2px lightgray;
}

.Grades-container{
	background: rgba(255, 255, 255, 0.4);
	width: 80%;
	height: 100%;
/*	position: absolute;*/
/*	right: 0;*/
	display: none;
}

.show-Grades-container{
	display: flex;
}

.Inbox-container{
	background: rgba(255, 255, 255, 0.4);
	width: 80%;
	height: 100%;
/*	position: absolute;*/
/*	right: 0;*/
	display: none;
}

.show-Inbox-container{
	display: flex;
}

@media only screen and (max-width:967px){
	

}

